
@import "confetti.min.css";

.center { text-align: center; }

.buttons {
    display: grid;
    grid-template-areas: "80px 80px 80px 80px 80px 80px";
    /*grid-template-columns: repeat( auto-fill, minmax(80px, auto) );*/
    justify-content: center;
	grid-gap: 0.5rem;

    & img {
        image-rendering: crisp-edges;
        align-self: center;
        &:nth-last-child(1) {
            grid-area: auto / span 2;
        }
    }
}

.crisp { image-rendering: crisp-edges; }

footer .p {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: .5em;

    & img {
        width: 80px;
        align-self: center;
    }
    & p {
        align-self: center;
        margin: 0px;
    }
}
